<div class="selection-panel">
</div>

<div class="hyperty-panel">
</div>


<div class="my-panel">
  <input id="slider1" type="range" min="0" max="100" value="0" step="1" onchange="showValue(this.value)" />
  <span id="myrange">0</span>
</div>

<div class="invitation-panel">
</div>

<div class="hello-panel">
</div>

<div id="smth">
</div>

<div class="bye-panel">
</div>

<div class="msg-panel">
</div>
